papyra.api/**/bin/
papyra.api/**/obj/
papyra.api/**/TestResults/
papyra.api/**/*.trx

papyra.web/node_modules/
papyra.web/dist/

node_modules/

data/

.git/
.gitignore
.github/
.vs/
.vscode/
.idea/
**/*.user
**/*.suo

papyra.api/**/appsettings.Development.json
papyra.web/.env.development
papyra.web/.env.local
